@page "{id}"
@model CrowdFoundAppTeam3.Pages.Backers.DetailsModel
@{
    ViewData["Title"] = "Backer Details";
}

<h1>@Model.Backer.FirstName @Model.Backer.LastName</h1>

<h2>Backers' List'</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var backer in Model.Backer)
        {
            <tr>
                <td>@backer.FirstName</td>
                <td>@backer.LastName</td>
                <td>@backer.Email</td>
              
            </tr>
        }
    </tbody>
</table>